@model IEnumerable<ProyectoFinal.Dominio.Entidades.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Usuario</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido1</th>
            <th>Apellido2</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Apellido1</td>
                <td>@item.Apellido2</td>
                <td>@item.Telefono</td>
                <td>@item.Correo</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
